{% block body %}

<h1>Twoje konto</h1>
<p>Saldo: <b>{{account.balance}}</b>
  <a href="{% url 'simulator:charge_account' %}">Doładuj konto</a>
</p>


{% if account.wallets.all %}
<p>Twoje akcje:</p>
<ul>
  {% for wallet in account.wallets.all %}
    <li>{{ wallet }}  <a href="{% url 'simulator:sell_stock' wallet.pk %}">Sprzedaj</a></li> 
  {% endfor %}
</ul>
{% else %}
<p>Brak akcji</p>

{% endif %}

{% if transactions %}
<h2>Historia transakcji</h2>
<ul>
  {% for transaction in transactions %}
    <li>
        [{{transaction.operation}}] {{transaction.stock.short_name}}
    </li>
  {% endfor %}
</ul>
{% endif %}

<a href="{% url 'simulator:stock_data' %}">Kup akcje!</a>
{% endblock %}