{% extends 'base.html' %}
{% load static %}

{% block content %}


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Posiadane akcje</h1>
                  


                            {% if messages %}
                            {% for message in messages %}
                                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR or message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {% else %}
                                    <div class="alert alert-primary alert-dismissible fade show" role="alert">
                                    {% endif %}
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                            {% endfor %}
                            {% endif %}

                            <div class="row">

                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-left-success shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                        Saldo</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ account.balance }}</div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-coins fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-xl-2 col-md-6 mb-4">
                                    <div class="card border-left-warning shadow h-100 py-2">
                                            <div class="card-body">
                                                <div class="row no-gutters align-items-center">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                            Posiadane akcje</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ stocks_number }}</div>
                                                    </div>
                                                    <div class="col-auto">
                                                        <i class="fas fa-file fa-2x text-gray-300"></i>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
        
                                <div class="col-xl-3 col-md-6 mb-4">
                                    <div class="card border-left-secondary shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                        Wartość akcji</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ stocks_value }}</div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-xl-2 col-md-6 mb-4">
                                    <div class="card border-left-danger shadow h-100 py-2">
                                        <div class="card-body">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col mr-2">
                                                    <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                        Prowizja</div>
                                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ account.transaction_fee }}% <sub>(min. {{ account.transaction_minimal_fee }})</sub></div>
                                                </div>
                                                <div class="col-auto">
                                                    <i class="fas fa-comments fa-2x text-gray-300"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Posiadane akcje</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Logo</th>
                                            <th>Nazwa</th>
                                            <th>Liczba akcji</th>
                                            <th>Cena</th>
                                            <th>Wartość</th>
                                            <th>Stoploss</th>
                                            <th>Czynności</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Logo</th>
                                            <th>Nazwa</th>
                                            <th>Liczba akcji</th>
                                            <th>Cena</th>
                                            <th>Wartość</th>
                                            <th>Stoploss</th>
                                            <th>Czynności</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for wallet in account.wallets.all %}
                                        <tr>
                                            <td><img src="{% static 'simulator/img/stock_logos/'|add:wallet.stock.logo_filename %}" width="50" height="50" class="img-thumbnail border-0 rounded float-left"></td>
                                            <td>{{ wallet.stock.name }} <sub>{{ wallet.stock.short_name }}</sub></td>
                                            <td>{{ wallet.number }}</td>
                                            <td>{{ wallet.stock.price }}</td>
                                            <td>{{ wallet.amount }}</td>
                                            <td>{{ wallet.stoploss }}</td>
                                            <td>
                                              <a href="{% url 'simulator:sell_stock' wallet.pk %}" class="btn btn-sm btn-danger">SPRZEDAJ</a>
                                              <a href="{% url 'simulator:stock_detail' wallet.stock.name %}" class="btn btn-sm btn-success">KUP</a>
                                            </td>
                                        </tr>

                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
{% endblock %}