{% extends 'base.html' %}
{% load static %}


{% block content %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center mb-4">
                        <h1 class="h3 mb-0 text-gray-800 font-weight-bolder"> Doładowanie konta</h1>

                    </div>

                    <!-- Content Row -->
                    <div class="row">
                    <div class="col-xl-8">
                    <div class="card  shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Doładuj swoje konto</h6>
                                </div>
                                <div class="card-body">
                                    <form method="post">
                                        {% csrf_token %}
                                        <!-- {{ form.as_p }} -->
                                        <p>
                                            <label for="{{form.amount.id_for_label}}">Kwota doładowania:</label> 
                                            <input class="form-control" value="{{ form.amount.value }}" type="number" name="{{ form.amount.html_name }}" id="{{ form.amount.id_for_label }}">
                                        </p>
                                        <button type="submit" class="btn btn-success">Doładuj konto</button>
                                    </form>
                                </div>
                            </div>
                    </div>
                    </div>
                    
                

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                            

                            

                        </div>

                        <div class="col-lg-6 mb-4">

                    
                            

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
{% endblock %}
{% block scripts %}
<script>
    function validateBuyForm(form){
    console.log(form);
    let stocksNumber = document.getElementById("id_number").value;
    console.log(stocksNumber);
    try {
        stocksNumber = parseInt(stocksNumber)
    } catch (error) {
        return false;
    }
    let price = {{ object.price }};
    let balance = {{ balance }};
    console.log(price);
    console.log(balance);
    if (price * stocksNumber > balance) {
        return false;
    } else {
        return true;
    }
}
</script>

{% endblock %}