{% extends 'base.html' %}
{% load static %}


{% block content %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Twoja wirtualna giełda</h1>
                    </div>
                    {% if messages %}
                    {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR or message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {% else %}
                            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                            {% endif %}
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                    {% endfor %}
                    {% endif %}
                    

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Saldo</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ balance }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-coins fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-2 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <a href="{% url 'simulator:account' %}">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                    Posiadane akcje</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ stocks_number }}</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-file fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="col-xl-2 col-md-6 mb-4">
                            <div class="card border-left-secondary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Wartość akcji</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ stocks_value }}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-2 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <a href="{% url 'simulator:transaction-history' %}">
                                    <div class="card-body">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col mr-2">
                                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                    Liczba transakcji</div>
                                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{ transactions_count }}</div>
                                            </div>
                                            <div class="col-auto">
                                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-danger shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Prowizja</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ transaction_fee }}% <sub>(min. {{ transaction_minimal_fee }})</sub></div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-percentage fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Ostatnie transakcje</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Operacja</th>
                                            <th>Akcja</th>
                                            <th>Liczba akcji</th>
                                            <th>Wartość</th>
                                            <th>Data</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for transaction in transactions %}
                                        <tr>
                                            <td>{{transaction.get_operation_display }}</td>
                                            <td>{{ transaction.stock.name }} <sub>{{ transaction.stock.short_name }}</sub></td>
                                            <td>{{ transaction.stocks_number }}</td>
                                            <td>{{ transaction.amount }}</td>
                                            <td>{{ transaction.timestamp }}</td>
                                        </tr>
                                        {% endfor %}
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Interesujące akcje</h6>
                                    
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    {% for stock in up_tendention_stocks %}
                                        <a href="{% url 'simulator:stock_detail' stock.name %}">
                                        <div class="row">
                                            <div class="col-4">
                                                <!-- <img src="https://dummyimage.com/50" class="img-thumbnail border-0 rounded float-left"> -->
                                                <img src="{% static 'simulator/img/stock_logos/'|add:stock.logo_filename %}" width="50" height="50" class="img-thumbnail border-0 rounded float-left">
                                            </div>
                                            <div class="col-8 p-3">
                                                <p><b>{{ stock.name }}</b> <span class="text-success">{{stock.price}}</span></p>
                                            </div>
                                        </div>
                                    </a>
                                    {% endfor %}
                                    
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            {% endblock %}
