{% load static %}

{% block sidebar %}

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'simulator:index' %}">
        <div class="sidebar-brand-icon rotate-n-15">
        </div>
        <div class="sidebar-brand-text mx-3">Wirtualna giełda</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'simulator:index' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Strona główna</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">


    <li class="nav-item">
        <a class="nav-link" href="{% url 'simulator:stock_data' %}">
            <i class="fas fa-fw fa-dollar-sign"></i>
            <span>Kup akcje</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'simulator:account' %}">
            <i class="fas fa-fw fa-wallet"></i>
            <span>Posiadane akcje</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'simulator:transaction-history' %}">
            <i class="fas fa-fw fa-history"></i>
            <span>Historia transakcji</span></a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-cog"></i>
            <span>Ustawienia</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="{% url 'simulator:charge_account' %}">Doładuj konto</a>
                <a class="collapse-item" href="{% url 'simulator:settings' %}">Ustawienia giełdy</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  
</ul>
<!-- End of Sidebar -->

{% endblock %}