{% extends 'base.html' %}
{% load static %}


{% block content %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center mb-4">
                        <img src="{% static 'simulator/img/stock_logos/'|add:object.logo_filename %}" width="100" height="100" class="img-thumbnail border-0 rounded float-left">
                        <h1 class="h3 mb-0 text-gray-800 font-weight-bolder">  {{ object.full_name }}</h1>
                    </div>
                    <div class="row">
                        <div class="col-xl-8">
                             <div class="row">
                                <div class="col-xl-12">
                                <div class="card  shadow mb-4">
                                            <div class="card-header py-3">
                                                <h6 class="m-0 font-weight-bold text-primary">Kup akcje</h6>
                                            </div>
                                            <div class="card-body">
                                                <form method="post" id="buyForm" class="buyForm" action="{% url 'simulator:buy_stock' %}" >
                                                    {% csrf_token %}
                                                    <p>
                                                        <label for="{{form.number.id_for_label}}">Liczba akcji do kupienia:</label>
                                                        <input type="number" name="{{form.number.html_name}}" min="1" max="1000000" required id="{{form.number.id_for_label}}">
                                                    </p>
                                                    <p>
                                                        <label for="{{form.stoploss.id_for_label}}">Stoploss:</label>
                                                        <input type="number" name="{{form.stoploss.html_name}}" step="0.01" id="{{form.stoploss.id_for_label}}">
                                                        <input type="hidden" name="{{form.stock_pk.html_name}}" value="{{form.stock_pk.value}}" id="{{form.stock_pk.id_for_label}}">
                                                    </p>
                                                    <button type="submit" class="btn-success">Kup akcje!</button>
                                                </form>
                                                <div class="row pt-3 pl-3">
                                                    <p id="jsValidationError" style="display: none;">aaaa</p>
                                                </div>
                                            </div>
                                            
                                        

                                        </div>
                                </div>
                                </div>

                                <!-- Content Row -->

                    {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ error|escape }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                    {% endfor %}


                    {% for error in form.non_field_errors %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                {{ error|escape }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                    {% endfor %}
                {% endif %}

                {% if messages %}
                    {% for message in messages %}
                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR or message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {% else %}
                            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                            {% endif %}
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                    {% endfor %}
                {% endif %}

                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Cena akcji</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ object.price }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-tag fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                            Saldo</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ balance }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-coins fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Pending Requests Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Posiadane akcje</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ stocks_in_wallet }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-file fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pending Requests Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-secondary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Wartość akcji</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ stocks_value }} </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <!-- Content Row -->

                <div class="row">

                    <!-- Area Chart -->
                    <div class="col-xl-12 col-lg-7">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div
                                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Historyczne dane</h6>
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                        aria-labelledby="dropdownMenuLink">
                                        <div class="dropdown-header">Dropdown Header:</div>
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="chart-area" id="stockChartContainer">
                                    <!-- <canvas id="myAreaChart"></canvas> -->
                                    <canvas id="stockDetailChart" data-url="{% url 'simulator:stock_historical_data' %}"></canvas>
                                </div>
                                <div class="row">
                                    <div class="col-1 p-3 mx-4 text-center"><a href="javascript:void(0);" onclick="updateChart('10d')" class="btn btn-primary">10d</a></div>
                                    <div class="col-1 p-3 ml-5 text-center"><a href="javascript:void(0);" onclick="updateChart('1m')" class="btn btn-primary">1m</a></div>
                                    <div class="col-1 p-3 ml-5 text-center"><a href="javascript:void(0);" onclick="updateChart('3m')" class="btn btn-primary">3m</a></div>
                                    <div class="col-1 p-3 ml-5 text-center"><a href="javascript:void(0);" onclick="updateChart('6m')" class="btn btn-primary">6m</a></div>
                                    <div class="col-1 p-3 ml-5 text-center"><a href="javascript:void(0);" onclick="updateChart('1y')" class="btn btn-primary">1r</a></div>
                                    <div class="col-1 p-3 ml-5 text-center"><a href="javascript:void(0);" onclick="updateChart('3y')" class="btn btn-primary">3l</a></div>
                                    <div class="col-1 p-3 ml-5 text-center"><a href="javascript:void(0);" onclick="updateChart('5y')" class="btn btn-primary">5l</a></div>
                                    <!-- TODO: clearing canvas -->
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>


    </div>

    <div class="col-xl-4">
        <!-- Area Chart -->
        <div class="row">
            <div class="col-xl-12 col-md-6 mb-4">
                <div class="card shadow mb-4">
                    <!-- Card Header - Accordion -->
                    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                        role="button" aria-expanded="true" aria-controls="collapseCardExample">
                        <h6 class="m-0 font-weight-bold text-primary">Wiadomości o spółce {{object.full_name}}</h6>
                    </a>
                    <!-- Card Content - Collapse -->
                    <div class="collapse show" id="collapseCardExample">
                        <div class="card-body">
                            <div class="pl-2">
                                <div class="row">
                                    <div class="col-8">
                                        <h5>Tytuł artykułu</h5>
                                    </div>
                                    <div class="col-4">
                                        01.02.2020
                                    </div>
                                </div>
                                <div class="text-sm text-success">Nazwa portalu</div>
                                <div class="text-sm">Spółka {{object.full_name}} w 2 kwartale 2020 wyemitowała 300 tysięcy akcji...</div>
                            </div>

                            <div class="pl-2 pt-5">
                                <div class="row">
                                    <div class="col-8">
                                        <h5>Tytuł artykułu</h5>
                                    </div>
                                    <div class="col-4">
                                        01.02.2020
                                    </div>
                                </div>
                                <div class="text-sm text-success">Nazwa portalu</div>
                                <div class="text-sm">Spółka {{object.full_name}} w 2 kwartale 2020 wyemitowała 300 tysięcy akcji...</div>
                            </div>

                            <div class="pl-2 pt-5">
                                <div class="row">
                                    <div class="col-8">
                                        <h5>Tytuł artykułu</h5>
                                    </div>
                                    <div class="col-4">
                                        01.02.2020
                                    </div>
                                </div>
                                <div class="text-sm text-success">Nazwa portalu</div>
                                <div class="text-sm">Spółka {{object.full_name}} w 2 kwartale 2020 wyemitowała 300 tysięcy akcji...</div>
                            </div>

                            <div class="pl-2 pt-5">
                                <div class="row">
                                    <div class="col-8">
                                        <h5>Tytuł artykułu</h5>
                                    </div>
                                    <div class="col-4">
                                        01.02.2020
                                    </div>
                                </div>
                                <div class="text-sm text-success">Nazwa portalu</div>
                                <div class="text-sm">Spółka {{object.full_name}} w 2 kwartale 2020 wyemitowała 300 tysięcy akcji...</div>
                            </div>

                            <div class="pl-2 pt-5">
                                <div class="row">
                                    <div class="col-8">
                                        <h5>Tytuł artykułu</h5>
                                    </div>
                                    <div class="col-4">
                                        01.02.2020
                                    </div>
                                </div>
                                <div class="text-sm text-success">Nazwa portalu</div>
                                <div class="text-sm">Spółka {{object.full_name}} w 2 kwartale 2020 wyemitowała 300 tysięcy akcji...</div>
                            </div>

                            <div class="pl-2 pt-4 text-right">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination text-right">
                                      <li class="page-item"><a class="page-link" href="#"><</a></li>
                                      <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                                      <li class="page-item"><a class="page-link" href="#">></a></li>
                                    </ul>
                                  </nav>
                            </div>
                            

                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>

                    </div>

                    

                    <!-- <div class="row">
                        <div class="col-xl-8 col-md-6 mb-4">
                            <div class="card border-left-danger shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-danger text-uppercase mb-1 text-center">
                                                Nie udało się kupić akcji</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800 text-center">Jakiś tam msg błędu</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-exclamation-triangle fa-2x text-danger"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    

                       

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                            

                            

                        </div>

                        <div class="col-lg-6 mb-4">

                    
                            

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>

    
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

// $();
$(document).ready(function() {
    updateChart("1m");
});

function clearCanvas() {
    $('#stockDetailChart').remove();
    $('#stockChartContainer').append("<canvas id=\"stockDetailChart\" data-url=\"{% url 'simulator:stock_historical_data' %}\"></canvas>");
}

function updateChart(dateRange) {

var $stockDetailChart = $("#stockDetailChart");


$.ajax({
  url: $stockDetailChart.data("url"),
  data: { ticker_symbol: "{{object.short_name}}", date_range : dateRange},
  success: function (data) {
    clearCanvas();

    var ctx = document.getElementById("stockDetailChart");
    // clearCanvas();
    new Chart(ctx, {
  type: 'line',
  data: {
    labels: data.labels,
    datasets: [{
      label: "cena",
      lineTension: 0.2,
      backgroundColor: "rgba(78, 115, 223, 0.05)",
      borderColor: "rgba(78, 115, 223, 1)",
      pointRadius: 1,
      pointBackgroundColor: "rgba(78, 115, 223, 1)",
      pointBorderColor: "rgba(78, 115, 223, 1)",
      pointHoverRadius: 3,
      pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
      pointHoverBorderColor: "rgba(78, 115, 223, 1)",
      pointHitRadius: 1,
      pointBorderWidth: 1,
      data: data.data,
    }],
  },
  options: {
    maintainAspectRatio: false,
    layout: {
      padding: {
        left: 10,
        right: 25,
        top: 25,
        bottom: 0
      }
    },
    scales: {
      xAxes: [{
        time: {
          unit: 'date'
        },
        gridLines: {
          display: false,
          drawBorder: false
        },
        ticks: {
          maxTicksLimit: 19
        }
      }],
      yAxes: [{
        ticks: {
          maxTicksLimit: 6,
          padding: 10,
          callback: function(value, index, values) {
            return value;
          }
        },
        gridLines: {
          color: "rgb(234, 236, 244)",
          zeroLineColor: "rgb(234, 236, 244)",
          drawBorder: false,
          borderDash: [2],
          zeroLineBorderDash: [2]
        }
      }],
    },
    legend: {
      display: false
    },
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      intersect: false,
      mode: 'index',
      caretPadding: 15,
      callbacks: {
        label: function(tooltipItem, chart) {
          var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
          return datasetLabel + ':' + tooltipItem.yLabel + ' PLN';
        }
      }
    }
  }
});
    

  }
});

}

    $('#buyForm').on('submit', function(e) {
        e.preventDefault();
        let stocksNumber = document.getElementById("id_number").value;
        try {
            stocksNumber = parseInt(stocksNumber)
        } catch (error) {
            return false;
        }
        let errorMsgBox = document.getElementById("jsValidationError");
        let price = parseFloat("{{ object.price }}");
        let balance = parseFloat("{{ balance }}");
        if (price * stocksNumber > balance) {
            errorMsgBox.innerHTML = "Niewystarczające środki na koncie.";
            errorMsgBox.style = "display: block";
            return false;
        } else {
            console.log('true')
            errorMsgBox.style = "display: none";
            $("#buyForm").submit()
        }
    });

</script>
{% endblock %}
{% block scripts %}
<script>


</script>

{% endblock %}