{% extends 'base.html' %}
{% load static %}

{% block content %}


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Historia transakcji</h1>


                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Historia transakcji</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Operacja</th>
                                            <th>Akcja</th>
                                            <th>Liczba akcji</th>
                                            <th>Wartość</th>
                                            <th>Data</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for transaction in transactions %}
                                        <tr>
                                            <td>{{transaction.get_operation_display }}</td>
                                            <td>{{ transaction.stock.name }} <sub>{{ transaction.stock.short_name }}</sub></td>
                                            <td>{{ transaction.stocks_number }}</td>
                                            <td>{{ transaction.amount }}</td>
                                            <td>{{ transaction.timestamp }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
{% endblock %}